.university {
  h4 {
    border-left: 4px solid salmon;
    padding-left: 4px;
  }
}
.score-table {
  width: 100%;
  max-height: 339px;
  padding: 0 43px 0 47px;
  box-shadow: #e6e6e6 0px 0px 13px;
  border-radius: 10px;
  overflow: hidden;
}

.break-line {
  border-top: 3px solid orangered;
}
